name: GitLeaks Scan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Run GitLeaks
      - name: Run GitLeaks
        uses: zricethezav/gitleaks-action@v2
        with:
          args: "--verbose --redact"
